*, html {
	padding: 0;
	margin:0;
}


html, body {
	position: relative;
	width: 100%;
	height: 100%;
	font-family: 'Oswald', sans-serif;
}


body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: black;
}

a {
	text-decoration: none;
	color: #0E79B2;
}

a:hover {
	text-decoration: none;
	transform: scale(1.1);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}
